# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.* export-ignore
/appveyor.yml export-ignore
/benchmark export-ignore
/CONTRIBUTING.md export-ignore
/CREDITS export-ignore
/docker-compose.yaml export-ignore
/Makefile export-ignore
/NOTE.DEVELOPMENT.NOV.2011.md export-ignore
/NOTE.THENETCIRCLE.md export-ignore
/benchmark export-ignore
/demo export-ignore
/doc export-ignore
/docker export-ignore
/docs export-ignore
/phpunit.xml.dist export-ignore
/spec export-ignore
/tests export-ignore
