vendor/
composer.lock
phpunit.xml
build/
docs/
tools/
phpDocumentor.phar

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

.phpactor.json
.phpunit.result.cache
.phpdoc
