<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg value="p"/>
    <arg name="extensions" value="php"/>
    <arg name="tab-width" value="4"/>
    <arg name="report-width" value="120"/>

    <rule ref="PSR12">
        <exclude name="PEAR.Functions.ValidDefaultValue"/>
        <exclude name="PSR12.Properties.ConstantVisibility.NotFound"/>
    </rule>

    <file>PhpAmqpLib/</file>
</ruleset>
