<phpunit bootstrap="PhpAmqpLib/Tests/bootstrap.php" colors="true">
        <testsuites>
            <testsuite name="Unit Tests">
                <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">PhpAmqpLib/Tests/Unit</directory>
            </testsuite>
            <testsuite name="Functional Tests">
                <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">PhpAmqpLib/Tests/Functional</directory>
            </testsuite>
        </testsuites>
</phpunit>