<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional Tests">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">PhpAmqpLib/</directory>
            <exclude>
                <directory>PhpAmqpLib/Helper/Protocol</directory>
                <file>PhpAmqpLib/Wire/Constants080.php</file>
                <file>PhpAmqpLib/Wire/Constants091.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
